<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
<nav>
  <div id="button">
    &nbsp;
  </div>
  <div id="menu">
        <ul>
          <li><%= link_to "Home", :pages %>
          <li><%= link_to "Learn more", :about %>
          <li><%= link_to "Get contact with us", :new_signup %>
        </ul>
    </div>  
</nav>
	<%= yield %>
<footer>
  My awesome project &copy;
</footer>
  
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
